@model Usuarios
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar</h1>

<div class="card">
    <div class="card-header">
        Editar informacion de usuario
    </div>
    <div class="card-body">
        <form asp-action="Editar" asp-controller="Usuarios" method="post">
        <input asp-for="USUARIOS_CODIGO" type="hidden" class="form-control" />

            <div class="mb-3">
                <label class="form-label">Correo</label>
                <input asp-for="CORREO" type="text" class="form-control" />
                <span asp-validation-for="CORREO" class="text-denger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Contraseña</label>
                <input asp-for="CONTRASENIA" type="password" class="form-control" />
                <span asp-validation-for="CONTRASENIA" class="text-denger"></span>
            </div>
            <div>
                <button type="submit" class="btn btn-primary" asp-action="Editar" asp-controller="Usuarios">Editar</button>
                <a asp-action="Listar" asp-controller="Usuarios" class="btn btn-warning">Volver al listado</a>
            </div>
        </form>
    </div>
</div>