@model Promociones
@{
    ViewData["Title"] = "GuardarForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GuardarForm</h1>

<form>
    <div class="mb-3">
        <label class="form-label">Codigo promocion</label>
        <input asp-for="PROMOCIONES_COD" type="number" class="form-control" />
        <span asp-validation-for="PROMOCIONES_COD" class="text-denger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input asp-for="NOMBRE" type="text" class="form-control" />
        <span asp-validation-for="NOMBRE" class="text-denger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Descuento</label>
        <input asp-for="DESCUENTO" type="number" class="form-control" />
        <span asp-validation-for="DESCUENTO" class="text-denger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-action="Listar" asp-controller="Promociones" class="btn btn-warning">Volver al listado</a>
</form>
