@model Proveedores  
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar</h1>

<div class="card">
    <div class="card-header">
        Editar informacion de proveedores
    </div>
    <div class="card-body">
        <form asp-action="Editar" asp-controller="Proveedores" method="post"></form>
        <input asp-for="PROVEEDORES_COD" type="hidden" class="form-control" />

        <div class="mb-3">
            <label class="form-label">Codigo proveedor</label>
            <input asp-for="PROVEEDORES_COD" type="number" class="form-control" />
            <span asp-validation-for="PROVEEDORES_COD" class="text-denger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input asp-for="NOMBRE" type="text" class="form-control" />
            <span asp-validation-for="NOMBRE" class="text-denger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">Apellido</label>
            <input asp-for="APELLIDO" type="text" class="form-control" />
            <span asp-validation-for="APELLIDO" class="text-denger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">Cuit</label>
            <input asp-for="CUIT" type="text" class="form-control" />
            <span asp-validation-for="CUIT" class="text-denger"></span>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Editar</button>
            <a asp-action="Listar" asp-controller="Proveedor" class="btn btn-warning">Volver al listado</a>
        </div>
    </div>
</div>
